/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #b06d1c;
  --ifm-color-primary-dark: #9e6219;
  --ifm-color-primary-darker: #965d18;
  --ifm-color-primary-darkest: #7b4c14;
  --ifm-color-primary-light: #c2781f;
  --ifm-color-primary-lighter: #ca7d20;
  --ifm-color-primary-lightest: #dd8d2c;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d8a65f;
  --ifm-color-primary-dark: #d29846;
  --ifm-color-primary-darker: #cf9139;
  --ifm-color-primary-darkest: #af782b;
  --ifm-color-primary-light: #deb478;
  --ifm-color-primary-lighter: #e1bb85;
  --ifm-color-primary-lightest: #ead0aa;
}